# Server
PORT=5000
BASE_URL=http://localhost:5000

# MongoDB connection (used by config/db.js)
MONGO_USER=
MONGO_PASSWORD=

MONGO_CLUSTER=
MONGO_PROJECT=
MONGO_DOMAIN=mongodb.net

MONGO_DB=

# Optional connection options
MONGO_OPTIONS=retryWrites=true&w=majority
